table.board {
    height: 60%;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
    border-collapse: collapse;
}

td {
    height: 33.3%;
    width: 33.3%;
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 500;
    color: red;
    cursor: pointer
}

#_0 {
    border-bottom: 10px solid blue;
}

#_1 {
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
}

#_2 {
    border-top: 10px solid blue;
}

._0 {
    border-right: 10px solid yellow;
}

._1 {
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
}

._2 {
    border-left: 10px solid yellow;
}